# PHPUnit
phpunit.xml
.phpunit.result.cache

# This Composer
composer.phar
composer.lock
vendor/*

# IDE
.idea/*

# Vendor specific Composer files used by this library
/modules/servers/cpanelemailusage/vendor/*
